.users {
    margin-top:20px;
    width:18%;
    height:10%;
    border-radius:3px;
    background-color: #FFFFFF;
    border-radius:3px;
    border-top:5px solid #E47D31;
    margin-bottom:25px;
    }
    
    .expand{
    margin-top:20px;
    width:18%;
    height:15%;
    border-radius:3px;
    background-color: #FFFFFF;
    border-radius:3px;
    border-top:5px solid #E47D31;
    margin-bottom:25px;
    }
    
    span {
    color: #E47D31;
    cursor: pointer;
    
    }
    